# Hand-maintained until roxygen2 is wired into CI. Keep in sync with
# @export tags in R/.
export(dcc_read)
export(dcc_detect_encoding)
export(dcc_data)
export(dcc_provenance)
export(dcc_read_report)
export(dcc_l0_diagnose)
export(dcc_findings)
export(dcc_rules)
export(dcc_detect)
export(detect_missing_items)
export(detect_straightlining)
export(detect_response_time)
export(detect_trap_items)
export(detect_score_anomaly)
export(dcc_execute)
export(dcc_audit_log)
export(dcc_cleaned)
export(dcc_export_log)
export(dcc_score)
export(dcc_map_forms)
export(dcc_report)
export(dcc_reconcile)
export(dcc_trace)
export(dcc_manifest)
export(dcc_rerun)

S3method(print, dcc_data)
S3method(print, dcc_read_report)
S3method(print, dcc_findings)
S3method(print, dcc_ruleset)
S3method(print, dcc_result)
S3method(print, dcc_trace)
S3method(print, dcc_rerun)
S3method(dim, dcc_data)
S3method(as.data.frame, dcc_data)

import(data.table)
importFrom(stringi, stri_enc_detect, stri_conv, stri_read_raw)
importFrom(tools, md5sum, file_ext)
importFrom(utils, packageVersion, head)
